﻿html{
    overflow-x: hidden;
}

.fadeThis{
    opacity: 0;
}

.hidden {
    position: absolute;
    left: -10000px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.header-icons{
    font-size: 30px;
    color: white;
    padding-right: 0.40em;
    text-decoration: none;
}

.header-icons a:hover{
    color: #fdae55;
}

#header-icons-container{
    justify-content: center;
    align-items: center;
}

.white-bg{
    height: 70px;
    padding: 10px;
    object-fit: contain;
    background-color: white;
}

body {
    margin: 0;
    overflow-x: hidden;
}
    body p {
        color: white;
        font-family: 'Varela Round', sans-serif;
    }

    body h2 {
        font-family: 'Fira Sans', sans-serif;
    }

a{
    z-index: 10;
}

ul{
    list-style: none;
    padding: 0;
}

#page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* ----- HEADER ----- */
#headerBar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 6.25em;
    width: 100vw;
    border-bottom: 2px solid #fdae55;
    background-color: #658cc8;
    background-image: linear-gradient(to bottom right, #20152c, #658cc8);
}

#siteLogo {
    position: absolute;
    left:0;
    width: 86px;
    height: 78px;
    padding-left: 1.5em;
    margin-top: 1em;
}

#navigationBar {
    position: relative;
    padding-top: 1.5em;
}

#menuLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

    #menuLinks li {
    }


    #menuLinks li:hover {

    }

        #menuLinks li a:hover {
            /*background-color: #3f3f3e;*/
            color: #fdae55;
            /* border-bottom: 1.25px solid #9f3b3b; */
        }
#hamburgerMenu {
    display:none;
}

#navigationBar ul li:last-child{
    margin-right: 3em;
}


#navigationBar a {
    color: white;
    padding: 0px 16px;
    margin-right: 1em;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

/* ----- HOME SECTION ----- */

#homeContent {
    position: relative;
    background-image: url('img/torrigs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#homeTitle {
    margin: 0;
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Anton', sans-serif;
}

#avatarProfile {
    /* position: absolute;
    top: -9em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 9em;
    height: 9em; */
    display: block;
    margin: auto;
    width: 9em;
    height: 9em;
    margin-top: 17em;
}

#homeIntro{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    margin: auto;
    font-size: 64px;
    color: black;
    font-family: 'Raleway', sans-serif;    
}

#homeName {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: auto;
    font-size: 64px;
    color: #fdae55;
    font-family: 'Raleway', sans-serif;
    /* Use four shadows to simulate a stroked text */
    /* https://stackoverflow.com/questions/4919076/outline-effect-to-text */
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

#homeDescription {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    bottom: 0;
    margin: auto;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: black;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}
#downArrow{
    height: 70px;
    cursor:pointer;
    text-align: center;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 0;
    position: absolute;
    font-size: 4em;
    color: white;

}

#downArrow i{
    animation: fadeUp 0.4s 0.4s ease-out forwards, heartbeat 2s 3s ease-out infinite;
    opacity: 0;
}

#toProjects {
    color: black;
    text-shadow: white 1px 0 10px;
    text-decoration: none;
    z-index: 10;
}

#toProjects a:hover {
    color: #9f3b3b;
}

@keyframes fadeUp{
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes heartbeat{
    0% {
        opacity: 1;
        transform: none;
      }
      50% {
        opacity: .8;
        transform: scale(.8);
      }
      100% {
        opacity: 1;
        transform: none;
      }
}

/* ----- ABOUT SECTION ----- */
#aboutHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 6.25em;
    width: 100vw;
    background-color: #658cc8;
    border-top: 2px solid #fdae55;
    border-bottom: 2px solid #fdae55;
    background-image: linear-gradient(to bottom right, #658cc8, #20152c);
}

#aboutMe{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.75em;
    bottom: 0;
    margin: auto;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    
}

#aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('img/7.jpeg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}

#contentInformation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5em;
}

#aboutOverview{
    padding: 0px 5em 0px 5em;
    text-align: center;
    margin: auto;
}

#avatarProfile2{
    height: 220px;
    width: 220px;
}

#overviewName{
    font-size: 2em;
    font-weight: bold;
}

#overviewDescription{
    width: 40vw;
}

#developmentInformation{
    margin: auto;
}

#devTools{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    display: inline-block;
}

.skills{
    display: inline-block;
    text-align: center;
  }
  
  #skills-list{
      align-items: center;
      justify-content: center;
  }
  
  #skills-list img{
      width: 75px;
  }
  
  #skills-list img{
      margin-right: 30px;
      margin-bottom: 30px;
  }

.overviewText {
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

/* ----- PROJECTS SECTION ----- */

.project-icons-container{
    margin: 0em 0em 0em 0.9em;
}

.project-icons{
    font-size: 20px;
    color: white;
    padding-right: 0.50em;
    text-decoration: none;
}

.projectContainer{
    margin: 1em;
}

#projectsHeader {
    position: relative;
    height: 6.25em;
    width: 100vw;
    background-color: #658cc8;
    border-top: 2px solid #fdae55;
    border-bottom: 2px solid #fdae55;
    background-image: linear-gradient(to bottom right, #658cc8, #20152c);
}

#projectTitle{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.75em;
    bottom: 0;
    margin: auto;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    
}

#projectsContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('img/4.jpeg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: auto;
}

#projectsInfoContainer{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#projectInfoTitle{
    margin-top: -3em;
    font-size: 2em;
}

.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    width: 100vw;
    height: auto;
}

.projectTitle{
    color: white;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 0.5em; 
    padding-top: 0.5em;
}

.projectDescription{
    color: white;
    font-family: 'Varela', sans-serif;
    font-size: 1em;
    padding-left: 0.75em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#tridentProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

.modal{
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 0.75em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent{
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
    background-color: #FD8A0A;
    margin: auto;
    padding: 20px;
    border: 2px solid #658cc8;
    width: 80%;
}

.modalImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    /* Drop Shadow */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.modalTitle{
    margin-bottom: 0;
    font-family: 'Varela', sans-serif;
    text-align: left;
    color: #20152c;
}

.modalSubtitle{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: 'Varela', sans-serif;
    text-align: left;
    color: #633e5a;
}

#line{
    border-bottom: 1px solid #633e5a;
}

.modalBody{
    color: #20152c;
}

.modalButton{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.viewProjectButton {
    text-decoration: none;
    padding: 12px 16px;
    color: white;
    font-size: 1.25em;
    font-family: 'Varela Round', sans-serif;
    background-color: #20152c;
    border-radius: 8px 8px 8px 8px;
}

#closeTridentModal{
    color: #20152c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

#closeTridentModal:hover,
#closeTridentModal:focus {
  color: #633e5a;
  text-decoration: none;
  cursor: pointer;
}

#tolloProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closeTolloModal{
    color: #20152c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

#closeTolloModal:hover,
#closeTolloModal:focus {
  color: #633e5a;
  text-decoration: none;
  cursor: pointer;
}

#esportsloungeProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closeEsportsLoungeModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

.closeModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

.item{
    box-shadow: 0px 0px 5px #fff;
    transition: .5s ease;
    width: 500px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    margin: 5px 10px 5px 10px;
}

/* Coinflip Project CSS */
#coinflipProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closeCoinflipModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

/* Chatroom Project CSS */
#chatroomProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closeChatroomModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

/* Portfolio Project CSS */
#portfolioProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closePortfolioModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

/* Epic 7 Armory CSS */
#e7Project:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closee7Modal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

/* Diner Dash CSS */
#ddProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closeddModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

/* Hi Spently CSS */
#hsProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closehsModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

/* Infinity Atmosphere CSS */
#iaProject:hover{
    transition: .5s ease;
    opacity: 0.5;
}

#closeiaModal{
    color: #20152c;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}



/* ----- CONTACT SECTION ----- */
#contactHeader {
    position: relative;
    height: 6.25em;
    width: 100vw;
    background-color: #658cc8;
    border-top: 2px solid #fdae55;
    border-bottom: 2px solid #fdae55;
    background-image: linear-gradient(to bottom right, #658cc8, #20152c);
}

#contactTitle{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.75em;
    bottom: 0;
    margin: auto;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    
}

#contactContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url('img/nightsky.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}

#contactContainer{

}

#contactInfoContainer{
    margin-top: 5em;
    width: 80vw;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#contactName{
    font-size: 3em;
}

#contactDesc{
    margin-top: -1em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.icons{
    font-size: 2em;
    color: white;
    padding-right: 0.25em;
    text-decoration: none;
}

#resumeInfoContainer{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#resumeHeading{
    margin-top: 0;
    font-size: 2em;
}

.resumeBody{
    font-family: 'Raleway', sans-serif;

}

.contactInfo{
    margin-bottom: 1em;
}

#resumePhone{
    font-family: 'Raleway', sans-serif;
}

/* ----- FOOTER SECTION ----- */
#footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8.25em;
    width: 100vw;
    border-top: 2px solid #fdae55;
    background-color: #658cc8;
    background-image: linear-gradient(to bottom right, #20152c, #658cc8);
}

#footerLinks{
}

#copyright {
   
}

#copyrightMessage{
}

/*CSS for Tablets*/
@media screen and (min-width: 630px) and (max-width: 1030px) {
    #avatarProfile2 {
        padding-top: 3em;
        height: 180px;
        width: 180px;
    }

    #overviewName {
        margin-top: 0.25em;
        font-size: 2em;
        font-weight: bold;
    }

    #overviewDescription {
    }

    #developmentInformation {
        margin: auto;
    }

    .overviewText {
        font-size: 1.5em;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }

    .viewProjectButton {
        text-decoration: none;
        padding: 12px 16px;
        color: white;
        font-size: 1em;
        font-family: 'Varela Round', sans-serif;
        background-color: #20152c;
        border-radius: 8px 8px 8px 8px;
    }

    #contactName{
        font-size: 2.5em;
    }
    
    #contactDesc{
        margin-top: -1em;
        margin-bottom: 0.5em;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
    }
    
    .icons{
        font-size: 20px;
        color: white;
        padding-right: 0.25em;
        text-decoration: none;
    }
    
    #resumeHeading{
        font-size: 2em;
    }

    .resumeBody{
        font-size: 1.5em;
    }

    #projectInfoTitle{
        margin-top: -2em;
        font-size: 1.5em;
    }

    .item{
        box-shadow: 0px 0px 5px #fff;
        transition: .5s ease;
        width: 300px;
        max-width: 100%;
        height: 200px;
        max-height: 100%;
        margin: 5px 10px 5px 10px;
    }

    #footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 8.25em;
        width: 100vw;
        background-color: #292929;
    }

    #footerLinks {
    }

    #copyright {
    }

    #copyrightMessage {
    }
}

/* CSS Optimzation for Tablets */
@media screen and (max-width: 900px){
    #contentInformation{
        flex-direction:column;
    }
}

/*CSS for Phones/Mobile*/
@media screen and (max-width: 629px) {
    #headerBar {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 5.5em;
        width: 100vw;
        border-bottom: 2px solid #fdae55;
        background-color: #658cc8;
        background-image: linear-gradient(to bottom right, #20152c, #658cc8);
    }

    #menuLinks{
        display: none;
    }
        #menuLinks li{
            margin-top: 0.35em;
        
        }
    
    .showMenu{
        height: 5.5em;
        width: 100vw;
        background-color: black;
        margin-top: -1.5em;
        display: flex!important;
        flex-direction: column!important;
        list-style-type: none;
    }

    #hamburger{

    }

    #hamburgerMenu {
        margin-top: 0.5em;
        margin-left: -4em;
        cursor: pointer;
        display: flex;
        position: absolute;
        top: 1.5em;
        right: 2em;
    }

    #homeIntro{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 10%;
        bottom: 0;
        margin: auto;
        font-size: 40px;
        color: black;
        font-family: 'Raleway', sans-serif;    
    }
    
    #homeName {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 20%;
        bottom: 0;
        margin: auto;
        font-size: 48px;
        color: #fdae55;
        font-family: 'Raleway', sans-serif;
        /* Use four shadows to simulate a stroked text */
        /* https://stackoverflow.com/questions/4919076/outline-effect-to-text */
        /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    }
    
    #homeDescription {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 73%;
        bottom: 0;
        margin: auto;
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        color: black;
        /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
    }

    #contentInformation {
        padding: 1em;
        text-align: center;
        flex-direction: column;
    }

    #avatarProfile2 {
        height: 100px;
        width: 100px;
    }

    #overviewName {
        margin-top: 0.25em;
        font-size: 1.5em;
        font-weight: bold;
    }

    #overviewDescription {
    }

    #downArrow{
        cursor:pointer;
        text-align: center;
        left: 0;
        right: 0;
        top: 85%;
        bottom: 0;
        margin: auto;
        position: absolute;
        font-size: 4em;
        color: white;
    }

    #aboutHeader {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 4em;
        width: 100vw;
        background-color: #658cc8;
        border-top: 2px solid #fdae55;
        border-bottom: 2px solid #fdae55;
        background-image: linear-gradient(to bottom right, #658cc8, #20152c);
    }

    #aboutMe{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        bottom: 0;
        margin: auto;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        
    }

    #aboutContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url('img/7.jpeg') no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100vw;
    }

    .header-icons{
        font-size: 22px;
    }

    #developmentInformation {
        margin: auto;
    }

    #devTools{
        font-size: 1.5em;
    }

    #skills-list{
        flex-direction: column;
    }

    #skills-list img{
        width: 50px;
        margin-right: 0;
    }
    .white-bg{
        height: 50px;
    }

    .overviewText {
        font-size: 1em;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }

    .viewProjectButton {
        text-decoration: none;
        padding: 12px 16px;
        color: white;
        font-size: 1em;
        font-family: 'Varela Round', sans-serif;
        background-color: #20152c;
        border-radius: 8px 8px 8px 8px;
    }

    #projectInfoTitle{
        margin-top: -2em;
        font-size: 0.75em;
    }

#projectsHeader {
    position: relative;
    height: 4em;
    width: 100vw;
    background-color: #658cc8;
    border-top: 2px solid #fdae55;
    border-bottom: 2px solid #fdae55;
    background-image: linear-gradient(to bottom right, #658cc8, #20152c);
}

#projectTitle{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 0;
    margin: auto;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    
}

.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 100vw;
    height: auto;
}

.project-icons-container{
    margin-left: 0.7em;
}

#projectsContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('img/nightsky.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: auto;
}

    .projectTitle{
        color: white;
        font-family: 'Varela', sans-serif;
        font-weight: bold;
        font-size: 1em;
        padding-left: 0.5em; 
        padding-top: 0.5em;
    }
    
    .projectDescription{
        color: white;
        font-family: 'Varela', sans-serif;
        font-size: 1em;
        padding-left: 0.5em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .item{
        box-shadow: 0px 0px 5px #fff;
        transition: .5s ease;
        width: 300px;
        max-width: 100%;
        height: 200px;
        max-height: 100%;
        margin: 5px 10px 5px 10px;
    }

    #contactHeader {
        position: relative;
        height: 4em;
        width: 100vw;
        background-color: #658cc8;
        border-top: 2px solid #fdae55;
        border-bottom: 2px solid #fdae55;
        background-image: linear-gradient(to bottom right, #658cc8, #20152c);
    }
    
    #contactTitle{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        bottom: 0;
        margin: auto;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        
    }

    #contactName{
        font-size: 2em;
    }
    
    #contactDesc{
        margin-top: -1em;
        margin-bottom: 0.5em;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }
    
    .icons{
        font-size: 20px;
        color: white;
        padding-right: 0.25em;
        text-decoration: none;
    }
    
    #resumeHeading{
        font-size: 1.25em;
    }

    .resumeBody{
        font-size: 1.25em;
    }
    

    #footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 8.25em;
        width: 100vw;
        background-color: #292929;
    }

    #footerLinks {
    }

    #copyright {
    }

    #copyrightMessage {
    }
}

/* Super small phones */
@media screen and (max-width: 340px) {
    .item{
        width: 250px;
        height: 150px;
    }
}


